
<div>
  <div class="container">
    <div class="row">
      <h2>Examen Clinique</h2>
    </div>
    <hr>
    <div class="row">
      <% @symptoms.each do |symptom, position| %>
        <% if position %>
          <div class="col-sm-4"><%= symptom %><hr></div>
          <div class="col-sm-2"><%= position %><hr></div>
        <% else %>
          <div class="col-sm-6">
            <div>
              <%= simple_form_for :symptom, url: breasts_path(@reading, @first_form), method: :post do |f| %>
                <%= f.input :selected, input_html: { value: symptom }, as: :hidden %>
                <%= f.button :submit, symptom, class: "btn"  %>
              <% end %>
              <hr>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

