
<div class="wrapper">
  <div class="container">
      <div class="row">
        <h1>Type de mammographie</h1>
      </div>
      <%= simple_form_for @first_form, url: reading_first_forms_path(@reading) do |f| %>
        <div class="col-xs-12 col-sm-4"><%= f.input :mammography_type %></div>
        <div class="col-xs-12 col-sm-4"><%= f.input :mammography_system %></div>
      </div>
      <div class="row">
        <h1>Antécédents</h1>
      </div>
        <div class="col-xs-12 col-sm-4"><%= f.input :past_mammography %></div>
        <div class="col-xs-12 col-sm-4"><%= f.input :past_mammography_date %></div>
        <div class="col-xs-12 col-sm-4"><%= f.input :past_operation %></div>
        <div class="col-xs-12 col-sm-4"><%= f.input :past_operation_date %></div>
        <div class="col-xs-12 col-sm-4"><%= f.input :past_operation_reason %></div>
        <div class="col-xs-12 col-sm-4"><%= f.input :family_history %></div>
        <div class="col-xs-12 col-sm-4"><%= f.input :family_member %></div>
        <div class="col-xs-12 col-sm-4"><%= f.input :hormonal_treatment %></div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-sm-offset-5"><%= f.button :submit, "Continuer", class: "btn btn-primary btn-lg" %></div>
      </div>
      <% end %>
  </div>
</div>
