
<div class="wrapper">
    <div class="container">
      <div class="row">
        <h1>Identification du nouveau patient</h1>
      </div>
      <%= simple_form_for @patient do |f| %>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div><%= f.input :first_name, label: "Prénom" %></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div><%= f.input :last_name, label: "Nom de famille" %></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div><%= f.input :maiden_name, label: "Nom de jeune fille" %></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div><%= f.input :birth_date, label: "Date de naissance" %></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div><%= f.input :phone1, label: "Téléphone 1" %></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div><%= f.input :phone2, label: "Téléphone 2" %></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div><%= f.input :address, label: "Adresse" %></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div><%= f.input :city, label: "Commune" %></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div><%= f.input :zip_code, label: "Code postal" %></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div><%= f.input :health_insurance, label: "Caisse d'assurrance maladie" %></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div><%= f.input :social_security_number, label: "Numéro de sécurité sociale" %></div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 col-sm-offset-5">
          <%= f.button :submit, "Continuer", class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
